.products {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products ul {
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(
            150px,
            1fr
        )
    );
    gap: 1rem;
}

.products li {
    background-color: #111;
    color: #fff;
    padding: 1rem;
}

.products h3 {
    margin: 0;
}

.products span {
    font-size: 1rem;
    opacity: .9;
}

.products img {
    border-radius: 4px;
    width: 100%;
    aspect-ratio: 16 / 9;
    display: block;
    object-fit: cover;
    background: #fff;
}